<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YT Video Downloader</title>
</head>
<body>
<h1>YouTube Video Downloader</h1>
<form action="" method="post">
    {% csrf_token %}
    <label for="link">Enter URL:</label>
    <input type="text" id="link" name="link" required><br><br>
    <input type="submit" value="Download">
</form>

{% if message %}
    <p>{{ message }}</p>
{% endif %}
</body>
</html>
